{% load static %}
<link rel = "stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message Board</title>
  </head>
  <body class="bg-white relative">
    <nav class="bg-white sticky top-0 shadow">
      <div class="mx-auto flex items-center p-2">
        <div class=" text-4xl lg:text-3xl ">
          <h2 class="p-4 font-serif border-r-2 border-black">Message Board</h2>
        </div>
        <div class="transition duration-300 bg-white hover:bg-green-100 p-2 m-2">
          <a href="http://127.0.0.1:8000/lab-4/note-list" class="item-center">View as card</a>
        </div>
      </div>
    </nav>

    <div class="mx-auto m-4"> 
      <table class="mx-auto border-separate border border-green-800">
        <thead>
          <tr>
            <th class="border border-green-600 py-1 px-7 bg-green-100 text-green-700">Title</th>
            <th class="border border-green-600 py-1 px-7 bg-green-100 text-green-700">Sender</th>
            <th class="border border-green-600 py-1 px-7 bg-green-100 text-green-700">Reciever</th>
            <th class="border border-green-600 py-1 px-7 bg-green-100 text-green-700">Message</th>
          </tr>
        </thead>

        <tbody>
          {% for i in notes %}
          <tr>
            <td class="border border-green-600 py-1 px-3 text-green-500"> {{i.title}} </td>
            <td class="border border-green-600 py-1 px-3 text-green-500"> {{i.From}} </td>
            <td class="border border-green-600 py-1 px-3 text-green-500"> {{i.to}} </td>
            <td class="border border-green-600 py-1 px-3 text-green-500"> {{i.message}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="transition duration-100 bg-green-100 sticky bottom-0 md:absolute md:bottom-0 md:max-w-md md:right-0 md:m-10 p-4 md:rounded-lg hover:bg-green-300 ">
      <a href="http://127.0.0.1:8000/lab-4/add-note" class="flex space-x-3 items-center justify-center">
        <svg class="w-10 h-10 text-green-700" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        <button class="text-green-700 font-3xl">Add Note</button>
      </a>
    </div>

    <script src = "{% static 'quizApp.js' %}" > </script>
</body>
</html>
