body {
    background-color: #F9F2E9;
}

@font-face {
    font-family: 'Linux libertine';
    src: url(assets/LinLibertine_R.ttf);
  }
  

h1{
    font-family: 'Linux libertine';
    font-size: 50px;
    padding-left: 30px;
}

hr{
    border: 1px solid #5D7FA7;
}

h3{
    margin: 4px;
}

p{
    font-family: 'consolas';
    color: #2C4F5F;
}

.note-container{
    border-radius: 25px;
    background-color: #C2BFBB;
    padding: 10px;
    margin: 0 auto;
    width: 40%;
}

.note{
    border-radius: 10px;
    background-color: #CEF9F4;
    padding: 10px;
    margin: 10px;
}

.message-title{
    color: #2C4F5F;
    font-family: 'Lora', serif;
    font-size: 20px;
}
