<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>        
  </head>
  <body>
    <div class="container">
      <h1 class="">Friends list</h1>
    </div>
    <div class="container ">
      <table class="striped centered responsive-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>NPM</th>
            <th>DOB</th>
          </tr>
        </thead>
        <tbody><!-- TODO loop from Friend model -->
          {% for i in friends %}
            <tr>
              <td>{{i.name}}</td>
              <td>{{i.npm}}</td>
              <td>{{i.DOB}}</td>
            </tr>
          {% endfor %}
        <!-- EXAMPLE SECTION -->
        <tr>
          <td>Asmara Nugi</td>
          <td>1706032156</td>
          <td>May 1, 1999</td>
        </tr>
        <tr>
          <td>Fadli Rais</td>
          <td>1706032370</td>
          <td>Sept 11, 1998</td>
        </tr>
        <!-- END SECTION -->
      </tbody>
      </table>
      <a href="http://127.0.0.1:8000/lab-3/add" class="waves-effect wave-light btn-flat center-align"><i class="material-icons left">add_circle_outline</i>Add Friend</a>
    </div>
  </body>
</html>
