{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap" rel="stylesheet">
    

    <style>

      body {
          background-color: #F9F2E9;
      }

      h1{
          font-family: 'Scheherazade New', serif;
          font-size: 50px;
          padding-left: 30px;
      }

      hr{
          border: 1px solid #5D7FA7;
      }

      h3{
          margin: 4px;
      }

      p{
          font-family: 'consolas';
          color: #2C4F5F;
      }

      .note-container{
          border-radius: 25px;
          background-color: #C2BFBB;
          padding: 10px;
          margin: 0 auto;
          width: 40%;
      }

      .note{
          border-radius: 10px;
          background-color: #CEF9F4;
          padding: 10px;
          margin: 10px;
      }

      .message-title{
          color: #2C4F5F;
          font-family: 'Lora', serif;
          font-size: 20px;
      }

    </style>
  </head>
  <body>
    <div><h1>Message Board</h1></div>
    
    <div class="note-container">
      
      {% for i in notes %}
      <div class="note">
        <div class="message-title">
          <h3>{{i.title}}</h3>
        </div>
        <div>
          <p>From: {{i.From}}</p>
          <p>To: {{i.to}}</p>
        </div>
        <hr>
        <div>
          <p>{{i.message}}</p>
        </div>
      </div>
      {% endfor %}

      <div class="note">
        <div class="message-title">
          <h3>Dear Father</h3>
        </div>
        
        <div>
          <p>From: Yes</p>
          <p>To: Everyone</p>
        </div>
        <hr>
        <div>
          <p>If there's anything you'd like to say
            That could help me in any way
            'Cause I've been waiting for so long for you to come along
            Help me on that day</p>
        </div>
      </div>

    </div>
  </body>
</html>
